

<!--<div class="row">
  <div class="col-md-12">
    <input type="text" appMagicDir >
  </div>
</div>
<div class="row">
  <div class="col-md-4 box" appMagicBox></div>
  <div class="col-md-4 box" appMagicBox></div>
  <div class="col-md-4 box" appMagicBox></div>
</div>
<div class="row">
  <div class="col-md-4 box" appMagicBox></div>
  <div class="col-md-4 box" appMagicBox> </div>
  <div class="col-md-4 box" appMagicBox></div>
</div>
-->

<div class="row" *ngIf="true">
  <div class="col-md-4"></div>
  <div class="col-md-4 ">
    <img src="assets/IMG_5098.JPG" appImageZoom alt="">
  </div> 
</div>

<div class="row" *ngFor="let info of mobiles" >
  <div class="col-md-12">
    <app-info-card [info]="info"></app-info-card>
  </div>
</div>
